<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE configuration    
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="safeRowBoundsEnabled" value="false" />
        <setting name="localCacheScope" value="SESSION" />
        <setting name="jdbcTypeForNull" value="OTHER" />
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
		<setting name="mapUnderscoreToCamelCase" value="true" />

	</settings>

	<typeAliases>
		<typeAlias alias="orderDO" type="cn.eakay.demo.client.dataobject.OrderDO"/>
		<typeAlias alias="fileDO" type="cn.eakay.demo.client.dataobject.FileDO"/>
	</typeAliases>

	<mappers>
		<!-- 统一放在 SqlSessionFactoryBean mapperLocations 里配置 -->
		<!--<mapper resource="xx/repository/mapper/xxxMapper.xml" />-->
	</mappers>

</configuration> 